<div class="pagecontainer">

  <div class="example-container">
    <h2 class="title">  Air Quality (AQI) City Ranking </h2>
 

    <div class="legend">
      Legend: <i class="fa fa-info-circle" (click)="openBottomSheet()"></i>
     
      <span [style.background-color]="getBackground(1)"> Good </span>
      <span [style.background-color]="getBackground(51)"> Moderate </span>
      <span [style.background-color]="getBackground(101)"> Unhealthy for Sensitive Groups</span>
      <span [style.background-color]="getBackground(151)">Unhealthy</span>
      <span [style.background-color]="getBackground(201)">Very Unhealthy</span>
      <span [style.background-color]="getBackground(301)">Hazardous</span>

    </div>
    <br />
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for a city">
        </mat-form-field>

      </mat-toolbar-row>

    </mat-toolbar>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-paginator-sticky"></mat-paginator>
    <mat-table #table matSort [dataSource]="dataSource" class="mat-elevation-z0" [class.isMobile]="isMobile">



      <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Rank </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Rank: </span>
          {{element.rank}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cityname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Name: </span>
          {{element.cityname}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Country: </span>
          {{element.country[0].countryname}}
        </mat-cell>
      </ng-container>




      <ng-container matColumnDef="isocode">
        <mat-header-cell *matHeaderCellDef> Isocode </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Isocode: </span>
          {{element.country[0].isocode}}


        </mat-cell>
      </ng-container>



      <ng-container matColumnDef="population">
        <mat-header-cell *matHeaderCellDef> Population </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Population: </span>
          {{numberWithCommas(element.country[0].population)}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="qaindex">
        <mat-header-cell *matHeaderCellDef> Air Quality Index </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">AQI: </span>
          <span [style.background-color]="getBackground(element.qaindex)">{{element.qaindex}} </span>
        </mat-cell>
      </ng-container>




      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>


  </div>
</div>
